*.iml
.idea
.DS_Store
node_modules
.vscode
package-lock.json
app/.meteor/local
app/.deploy
build/
# config/settings.prod.json
.env
openmaptiles/
openmaptilesdata/
pgdata/
pgdataNominatimInternal/
mongo_data/
console.log
Trace-*.json
profiling-data.*.json
osrmdata/
builderkeyrefresh/
app/builder.config.json
archive/
prompt
*.pyc
*/tmp/*
