<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-ios26-navbar"
        version="1.0.0">

    <name>iOS 26 NavBar</name>
    <description>Native iOS 26 Liquid Glass navigation bar plugin</description>
    <license>MIT</license>
    <keywords>cordova,ios,navbar,liquid glass,ios26</keywords>
    <repo>https://github.com/carpschool/cordova-plugin-ios26-navbar.git</repo>

    <js-module src="www/iOS26NavBar.js" name="iOS26NavBar">
        <clobbers target="cordova.plugins.iOS26NavBar" />
    </js-module>

    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="iOS26NavBar">
                <param name="ios-package" value="iOS26NavBar" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/ios/iOS26NavBar.m" />
        <source-file src="src/ios/iOS26NavBar.swift" />
        <header-file src="src/ios/iOS26NavBar.h" />

        <!-- Framework dependencies -->
        <framework src="UIKit.framework" />
        <framework src="Foundation.framework" />
    </platform>

</plugin>
