<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-native-navbar"
        version="1.0.0">

    <name>Native NavBar</name>
    <description>Native iOS navigation bar plugin</description>
    <license>MIT</license>
    <keywords>cordova,ios,navbar,native</keywords>
    <repo>https://github.com/carpschool/cordova-plugin-native-navbar.git</repo>

    <js-module src="www/NativeNavBar.js" name="NativeNavBar">
        <clobbers target="cordova.plugins.NativeNavBar" />
    </js-module>

    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="NativeNavBar">
                <param name="ios-package" value="NativeNavBar" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/ios/NativeNavBar.m" />
        <source-file src="src/ios/NativeNavBar.swift" />
        <header-file src="src/ios/NativeNavBar.h" />

        <!-- Framework dependencies -->
        <framework src="UIKit.framework" />
        <framework src="Foundation.framework" />
    </platform>

</plugin>
