{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "plugins": [
    "meteor",
    "react"
  ],
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "16.14",
      "flowVersion": "0.53"
    },
    "propWrapperFunctions": [ "forbidExtraProps" ]
  },
  "extends": [
    "airbnb/base",
    "plugin:meteor/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "quotes": ["error", "double"],
    "arrow-parens": "off",
    "camelcase": "off",
    "class-methods-use-this": "off",
    "func-names": "off",
    "import/no-absolute-path": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/imports-first": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "linebreak-style": "off",
    "max-len": ["error", 120],
    "meteor/eventmap-params": [2, { "eventParamName": "event", "templateInstanceParamName": "instance" } ],
    "meteor/template-names": "off",
    "no-confusing-arrow": ["error", {"allowParens": true}],
    "no-plusplus": "off",
    "no-underscore-dangle": "off",
    "object-curly-newline": "off",
    "object-property-newline": "off",
    "object-shorthand": "off",
    "operator-linebreak": "off",
    "padded-blocks": "off",
    "indent": "off",
    "prefer-arrow-callback": "off",
    "prefer-destructuring": "off",
    "prefer-promise-reject-errors": "off",
    "no-await-in-loop": "off",
    "no-undef": "off",
    "no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": true, "argsIgnorePattern": "^_" }],
    "react/no-unknown-property": ["error", { "ignore": ["jsx"] }]
  },
  "globals": {
    "Assets": true
  }
}
