{
  "public": {
    "enableDebugMode": false,
    "oneSignal": {
      "appId": "your-app-id-here",
      "safariWebId": "web.onesignal.auto.313afc18-65a3-4cb5-bd8a-eabd69c6e4d8"
    },
    "vapid": {
      "publicKey": "BEl62iUYgUivxIkv69yViEuiBIa40HI0DLLuxazjBF..."
    }
  },
  "private": {
    "vapid": {
      "privateKey": "4OM3EtXb1HI0DLLuxazjBF...",
      "subject": "mailto:your-email@domain.com"
    }
  },
  "defaultAccounts": [
    {
      "email": "admin@carp.school",
      "password": "admin",
      "role": "admin"
    }
  ],
  "defaultPlaces": [],
  "defaultRides": []
}
